/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.container {
  padding: 20px;
}

.section-title {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}
.button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  margin-top: 20px;
}

.footer {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: left;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  background-color: #e0e0e0;
}
/* App.css */

/* App.css */

/* Adjust the size of the banner image */
.banner-image {
  width: 80%; /* Reduce the width of the image, adjust as needed */
  max-width: 800px; /* Optional: limit the maximum width */
  height: auto; /* Maintain the aspect ratio */
  margin: 20px auto; /* Center the image horizontally */
  display: block; /* Ensure the image is centered */
}

